@keyframes snippet {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#snippet {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: rgba(255, 160, 122, 0.87);
    z-index: 1;
    & > * {
        width: 5rem;
        height: 5rem;
        animation: snippet 1s infinite;
        fill: slategray;
    }
}
